SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_USER="jalexw"
SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_TOKEN="blahblahblah"

SCHEMAVAULTS_APP_ENVIRONMENT="production"
NEXT_PUBLIC_SCHEMAVAULTS_APP_ENVIRONMENT="production"
SCHEMAVAULTS_API_SERVER_ID="schemavaults-mail"
# Public base URL of this mail server (used for links embedded in emails)
HOST="https://mail.schemavaults.com"
# URL of the brand's main web app (used for the Nav wordmark link)
BRAND_URL="https://schemavaults.com"
SCHEMAVAULTS_AUTH_JWKS_ACCESS_PRIVATE_KEY=""

POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

RESEND_API_KEY=""
